@import "base";

html, body {
    height: 100%;
    margin-bottom: -160px;
}

body {
    background-image: url('../img/stripebackground.png');
}

p, ul {
    color: $font-color;
    font-family: "Merriweather", "Times New Roman", serif;
}

a {
    @include hover-link;
    @include link-colors($default-link-color);
}

#content-wrapper {
    min-height: 100%;
}

#main {
    background-color: white;
}

#language-text, #heading-text, #footer-text, #main {
    width: percentage(960px/1024px);
    margin: 0 auto;
}

#language-bar, #footer {
    background-color: $footer-lang-bar-bg-color;
    overflow: hidden;
    width: 100%;
}

#language-bar {
    height: calc-em(25px, 16px);
    line-height: calc-em(28px, 16px);
    p {
        color: white;
        @include float-right;
        font-family: "Arimo", Helvetica, sans-serif;
        font-size: calc-em(12px, 16px);
        font-weight: bold;
    }
    img {
            @include float-right;
            margin: 5px 0 0 20px;
    }
}

#heading {
    @include box-shadow();
    background: white;
    width: 100%;
    height: calc-em(95px, 16px);
    position: relative;
    z-index: 1;
}

#heading-text {
    /* Stopped here. Trying to add margin to top of h1 without line height.
    Maybe I should just have the h1 in header only. Not in page.*/
    h1 {
        font-size: calc-em(60px, 16px);
        display: inline;
        line-height: calc-em(60px, 60px);
        font-family: "Arimo", Helvetica, sans-serif;
    }
}

#top-nav {
}

#left-column {
    width: percentage(270/1024);
    height: 100%;
    @include float-left;
}

#right-column {
    width: percentage(754/1024);
    min-height: 100%;
    @include float-left;
    background-color: yellow;
}

#left-nav {
    background-color: $left-nav-bg-color;
    width: percentage(232/270);
    border-left: 1px solid #ccd0d8;
    border-right: 1px solid #ccd0d8;
    height: 100%;
}

#footer {
    position: relative;
    margin-top: -160px;
    height: 160px;
    clear:both;
}
