/* line 17, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "PT Sans";
  src: url('../fonts/../fonts/pt.eot') format('embedded-opentype'), url('../fonts/../fonts/pt.woff') format('woff'), url('../fonts/../fonts/pt.ttf') format('truetype'), url('../fonts/../fonts/pt.svg') format('svg');
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url('../fonts/../fonts/pt-narrow.eot') format('embedded-opentype'), url('../fonts/../fonts/pt-narrow.woff') format('woff'), url('../fonts/../fonts/pt-narrow.ttf') format('truetype'), url('../fonts/../fonts/pt-narrow.svg') format('svg');
}

@font-face {
  font-family: "Arimo";
  src: url('../fonts/../fonts/arimo.eot') format('embedded-opentype'), url('../fonts/../fonts/arimo.woff') format('woff'), url('../fonts/../fonts/arimo.ttf') format('truetype'), url('../fonts/../fonts/arimo.svg') format('svg');
}

@font-face {
  font-family: "Merriweather";
  src: url('../fonts/../fonts/merriweather.eot') format('embedded-opentype'), url('../fonts/../fonts/merriweather.woff') format('woff'), url('../fonts/../fonts/merriweather.ttf') format('truetype'), url('../fonts/../fonts/merriweather.svg') format('svg');
}

/* line 3, ../sass/screen.scss */
html, body {
  height: 100%;
  margin-bottom: -160px;
  background-image: url("../img/stripebackground.png");
}

/* line 9, ../sass/screen.scss */
h1, h2 {
  font-size: 3.75em;
  display: inline;
  line-height: 1.917em;
  font-family: "Arimo", Helvetica, sans-serif;
}

/* line 16, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
  color: #536878;
  line-height: 1em;
  margin: 0 0 0.417em 0;
  display: block;
}

/* line 24, ../sass/screen.scss */
h4 {
  font-size: 1.5em;
  font-family: "PT Sans Narrow", "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
}

/* line 30, ../sass/screen.scss */
p, ul {
  color: #444444;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  line-height: 1.375em;
  margin-bottom: 1.25em;
}

/* line 37, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #78a547;
}
/* line 4, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 42, ../sass/screen.scss */
#content-wrapper {
  min-height: 100%;
  background: url("../img/body.png") center repeat-y;
  overflow: hidden;
  min-width: 960px;
}

/* line 49, ../sass/screen.scss */
.constrain-960 {
  width: 960px;
  margin: 0 auto;
}

/* line 54, ../sass/screen.scss */
.language-bar, .footer {
  background-color: #222222;
  overflow: hidden;
  width: 100%;
}

/* line 60, ../sass/screen.scss */
.language-bar {
  height: 1.563em;
}
/* line 62, ../sass/screen.scss */
.language-bar a {
  cursor: pointer;
}
/* line 65, ../sass/screen.scss */
.language-bar a:hover {
  text-decoration: underline;
}
/* line 68, ../sass/screen.scss */
.language-bar p {
  line-height: 2.333em;
  color: white;
  display: inline;
  float: right;
  font-family: "Arimo", Helvetica, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
}
/* line 76, ../sass/screen.scss */
.language-bar img {
  display: inline;
  float: right;
  margin: 5px 0 0 20px;
}

/* line 82, ../sass/screen.scss */
.heading {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background: white;
  width: 100%;
  height: 5.938em;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #999;
}

/* line 92, ../sass/screen.scss */
.top-nav {
  display: inline;
  float: right;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  line-height: 1em;
}
/* line 60, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.top-nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.top-nav li:first-child, .top-nav li.first {
  padding-left: 0;
}
/* line 49, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.top-nav li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.top-nav li.last {
  padding-right: 0;
}
/* line 96, ../sass/screen.scss */
.top-nav a {
  color: #536878;
}
/* line 99, ../sass/screen.scss */
.top-nav li {
  border-right: 1px solid #828282;
  margin-top: 3.813em;
  padding: 0 10px;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
}
/* line 105, ../sass/screen.scss */
.top-nav li.last {
  border-right: none;
}

/* line 110, ../sass/screen.scss */
.left-column {
  width: 232px;
  margin: 0 46px -1.875em;
  padding: 1.875em 0 10em;
  display: inline;
  float: left;
  overflow: hidden;
}

/* line 118, ../sass/screen.scss */
.right-column {
  width: 593px;
  display: inline;
  float: left;
  padding: 1.875em 0 0;
  margin: 0 0 11.875em 0;
}

/* line 125, ../sass/screen.scss */
.left-nav {
  margin: 0 19px;
  line-height: 1em;
}
/* line 128, ../sass/screen.scss */
.left-nav li {
  font-family: "PT Sans Narrow", "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  padding-bottom: 1.389em;
}

/* line 135, ../sass/screen.scss */
.sub-nav-items {
  margin: 0;
  line-height: 1em;
}

/* line 140, ../sass/screen.scss */
.top-level {
  padding-bottom: 1em;
  display: block;
  color: #536878;
  text-transform: uppercase;
  font-size: 1.333em;
  line-height: 1em;
}

/* line 149, ../sass/screen.scss */
.footer {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  position: relative;
  margin-top: -160px;
  height: 160px;
  overflow: hidden;
  min-width: 960px;
}
/* line 156, ../sass/screen.scss */
.footer h4, .footer p {
  color: #ccd0d8;
}
/* line 159, ../sass/screen.scss */
.footer h4 {
  margin-left: 2.083em;
  line-height: 3.125em;
}
/* line 163, ../sass/screen.scss */
.footer h5, .footer p {
  font-size: 0.875em;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.286em;
  margin-bottom: 0;
}

/* line 171, ../sass/screen.scss */
.footer-column {
  width: 180px;
  display: inline;
  float: left;
  margin: 0 0 0 3.125em;
}

/* line 177, ../sass/screen.scss */
.align-baseline {
  padding-top: 1em;
}

/* line 181, ../sass/screen.scss */
.contact-method, .state {
  color: #536878;
}
